@import url('https://fonts.googleapis.com/css?family=Libre+Franklin&display=swap')
@import url('https://fonts.googleapis.com/css?family=Raleway:800&display=swap')

@mixin background-opacity($color, $opacity: 0.6) 
  background: $color !important
  background: darken(rgba($color, $opacity), 10%) !important

// Color Palette

$purple-darkest: #28061E
$purple-dark: #3B092C
$purple: #6F69A8
$purple-light: #978CE0
$mauve: #8C4877
$blue-dark: #5773A8
$blue: #678FDA
$blue-light: #C4D1E9
$blue-lightest: #F2F6FC 
$orange: #FF7D5A
$red: #FF6662
$gold: #D8C46C
$green: #97BAA7
$magenta: #BC6DA6 
$gray-light: #E4E4E4
$gray: #F4F6F8
$gray-dark: #828282
$white: #FFFFFF

// Fonts

$family-sans-serif: 'Libre Franklin', sans-serif
$family-primary: $family-sans-serif
$family-primary-weight: 400
$family-secondary: 'Raleway', sans-serif
$family-secondary-weight: 800
$font-color: $purple-darkest
$text-shadow: 2px 3px 5px rgba(0,0,0,0.5)
$text-shadow-small: 1px 1px 3px rgba(0,0,0,0.7)