.single-post
  margin-top: 1rem
  overflow: hidden
  +widescreen
    margin-top: 40px
  .main-content
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    margin-bottom: 3rem
    padding: 0
  .main-content .container
    margin: 0 1rem
    max-width: 1044px !important
    flex-basis: auto
    width: 100%
    +tablet
      margin: 0 2rem
  .post-hero-img
    display: block
    margin-bottom: 2rem
    +desktop
      margin-bottom: 3rem
  h1
    margin-bottom: 1rem
  h2
    margin-bottom: 1rem
  h3
    @include font-size(22px)
    margin-bottom: 1rem
  p
    margin-bottom: .75rem
    + h2
      margin-top: 1.5rem
  ul,
  ol
    margin-bottom: 1.5rem
  li
    margin-bottom: .25rem
  .main-section
    margin-bottom: 2rem
    h2
      @include font-size(22px)
    h3
      @include font-size(18px)
  .breadcrumbs
    display: flex
    margin-bottom: 20px
    line-height: 2
    flex-wrap: wrap
    align-items: center
    margin-bottom: .3rem
    img
      max-width: 100%
      flex-shrink: 0
    .home
      margin-right: .4rem
      line-height: 1
      margin-bottom: .4rem
      display: flex
      align-items: center
      justify-content: center
      img
        height: 20px
    .category-link
      line-height: 1.1
      background: #FFFFFF
      border-radius: 50px
      padding: .3rem .6rem
      margin-bottom: .4rem
      display: inline-block
      text-align: center
      font-size: 10px
      text-transform: capitalize
      &:last-child
        color: white
    img.divider
      height: 12px
      margin: 0 .2rem .3rem
    @media screen and (min-width: 600px)
      margin-bottom: 1rem
      .category-link
        font-size: 12px
        padding: .3rem .7rem
      img.divider
        margin-left: .3rem
        margin-right: .3rem
      .home img
        height: 25px

  .single-post-content
    padding-left: 1.5rem
    padding-right: 1.5rem
    .petpartners-disclosure 
      color: $mauve
      font-size: 0.875rem
      a 
        color: $mauve
    img, figure 
      max-width: 100%
    a
      color: $orange
    ul
      margin-top: 20px
      list-style-type: circle
      padding-left: 20px
    .video-wrapper
      width: 100%
      position: relative
      padding-bottom: 56.25%
      iframe
        border: none
        position: absolute
        width: 100%
        height: 100%
    input[type="checkbox"]
      background: red
      position: relative
      width: 0
      height: 0
      margin-right: 35px
      &:before 
        content: ""
        background-image: url('../images/checkbox.png')
        background-position: center center
        background-size: contain
        background-repeat: no-repeat
        width: 20px
        height: 20px
        top: -17px
        position: absolute
        cursor: pointer

  .share-icons-horizontal
    padding-left: 1.5rem
    line-height: 1
    display: flex
    flex-direction: row
    justify-content: space-around
    align-items: flex-start
    width: 250px
    z-index: 10000000000
    +tablet
      display: none
    p
      color: darken($gray-light, 30%)
  .single-post-sidebar
    padding-left: 2rem
    padding-right: 2rem
    margin-bottom: .5rem
    display: flex
    flex-direction: column
    align-items: center
    @media screen and (min-width: 450px)
      flex-direction: row
    +tablet
      flex-direction: column
      align-items: flex-start
    +fullhd
      padding-left: 0
    .post-info
      align-self: flex-start
      margin-bottom: 1rem
      flex-basis: auto
      width: 100%
      @media screen and (min-width: 450px)
        align-self: flex-end
      +tablet
        align-self: flex-self
      .share-icons-horizontal
        padding-left: 0
    .ppiimg-wrapper
      width: 100%
      text-align: center
      flex-basis: auto
      width: 100%
      @media screen and (min-width: 450px)
        text-align: right
      +tablet
        text-align: left
    p.author-name
      margin-bottom: 0
    .author-img
      width: 60px
    .post-date
      font-size: .8rem
      color: $blue-light
      margin-bottom: .5rem
    .share-icons-vertical
      line-height: 1
      flex-direction: column
      justify-content: space-around
      align-items: flex-start
      width: 150px
      display: none
      a
        background-color: $white
      +tablet
        display: flex
  .tag-button
    margin-left: 10px
    border-radius: 30px
    padding: 0.5rem 1rem
  .post-tags
    display: flex
    flex-direction: row
    align-items: center
    justify-content: flex-end
  section.similar-post-section
    padding-top: .5rem
    padding-bottom: 1.5rem
    margin-bottom: 1.5rem
    background: $blue-lightest
    h2
      text-align: center
      margin-bottom: 2rem
    .container .columns .column
      display: flex
    .similar-post-card
      display: flex
      flex-direction: row
      margin-bottom: 1rem
    .similar-post-card-content
      flex-basis: 1
      width: 100%
      padding-left: 0.75rem
      line-height: 1
      a
        color: $font-color
        @include font-size(14px)
        line-height: 1
      h3
        color: $font-color
        @include font-size(22px)

    .similar-post-card-image
      border-radius: 6px
      min-width: 120px

  .hide-mobile
    display: none
    +desktop 
      display: block

  .hide-desktop
    display: block
    +desktop 
      display: none
  .counter-wrapper 
    margin-left: 35px
    display: flex
    flex-direction: row 
    align-items: center
    img 
      margin-right: 10px 
    span, strong 
      color: #8F8F8F
  +desktop 
    margin-left: 0
  .gift-pet-insurance-cta
    display: flex
    flex-direction: colum
    flex-wrap: wrap 
    justify-content: center
    background: $purple-dark 
    padding: 20px
    margin-left: -25px
    margin-right: -25px
    margin-bottom: 40px
    margin-top: 20px
    +tablet
      margin-left: 0
      margin-right: 0
      border-radius: 20px
    +widescreen 
      padding: 30px 40px
    p 
      margin: 0
      padding: 0
      color: $orange 
      +tablet
        text-align: center
    .cta 
      display: flex 
      width: 100%
      justify-content: space-between
      flex-direction: column
      align-items: center
      // +desktop 
      //   align-items: center
      //   flex-direction: row
    h4 
      margin-top: 15px
      margin-right: 10px
      color: white 
      font-family: $family-secondary
      font-weight: $family-secondary-weight
      font-size: 1.625rem
      line-height: 34px
      +tablet
        text-align: center
    a 
      margin-top: 20px
      display: block
      background: $orange 
      color: white
      font-family: $family-secondary
      font-weight: $family-secondary-weight
      font-size: 22px
      height: 48px
      width: 100%
      padding: 7px 5px
      line-height: 34px
      text-align: center
      border-radius: 50px
      
      +tablet
        max-width: 350px
      +desktop 
        margin-top: 15px
      +widescreen 
        font-size: 28px 
.next-post-section
  text-align: center
  padding-top: 90px
  padding-bottom: 90px
  p
    margin: 1rem 0
  .next-post-img
    border-radius: 6px
  h3
    margin-bottom: 40px
  h4
    margin-bottom: 40px
  .next-img
    border-radius: 6px
.post-hero-section
  padding-top: 1rem
  padding-bottom: 1rem
