.single-post 
  margin-top: 40px
  color: $font-color
  h1 
    font-size: 3.125rem
    line-height: 64px
    margin-bottom: 50px
    max-width: 800px
  .category-link
    background: #6F69A8
    border-radius: 50px
    height: 30px
    line-height: 30px
    padding-left: 20px
    padding-right: 20px
    color: #fff
    display: inline-block
    text-align: center
    margin-bottom: 20px

  .single-post-content
    margin-top: 50px
    font-size: 1.125rem
    line-height: 32px
    a 
      color: $orange
    h2 
      margin-top: 40px
      margin-bottom: 20px
      font-weight: 600
      font-size: 2rem
      line-height: 52px
    ul 
      margin-top: 20px
      list-style-type: circle
      padding-left: 20px
  
  .single-post-sidebar
    margin-top: 50px
    .author-name
      font-size: 1.125rem
      font-weight: 600

    .post-date
      color: $light-gray

    .social-icons
      margin-top: 20px
      margin-bottom: 50px
      img 
        display: inline-block
        margin-right: 10px
  .share-icons
    display: flex
    flex-direction: row
    align-items: center
    justify-content: flex-start
    img 
      margin-left: 10px
  .tag-button
    margin-left: 10px
    border-radius: 30px
    font-size: 0.875rem
    line-height: 1
    padding: 0.5rem 1rem
  .post-tags
    display: flex
    flex-direction: row
    align-items: center
    justify-content: flex-end
      
.similar-post-section
  background: $background-gray
  h2 
    font-size: 2rem
    font-weight: 600
    text-align: center
    margin-bottom: 1.5rem
  .similar-post-card
    display: flex
  .similar-post-card-content
    padding-left: 0.75rem
    a 
      color: $font-color
      font-size: 0.875rem
    h3 
      color: $font-color
      font-size: 1.375rem
      font-weight: 600
      line-height: 32px

  .similar-post-card-image
    min-width: 160px
    border-radius: 6px 