.single-post
  margin-top: 1rem
  +widescreen
    margin-top: 40px
  section.section
    padding: 0 1rem
  .post-hero-section
    padding-top: 0
    padding-bottom: 1.5rem
    +widescreen
      padding-bottom: 3rem
  .post-hero-img
    display: block
    margin-bottom: 2rem
  h1
    max-width: 800px
    margin-bottom: 1rem
  h2
    margin-top: 1rem
    margin-bottom: 1rem
  p
    margin-bottom: .75rem
  li
    margin-bottom: .25rem
  .main-section
    margin-bottom: 2rem
    h2
      @include font-size(22px)
    h3
      @include font-size(18px)
  .breadcrumbs
    display: flex
    margin-bottom: 20px
    .home
      margin-right: 10px
      img
        height: 20px
    .category-link
      font-family: $family-primary
      font-weight: 500
      line-height: 1.9
      background: #FFFFFF
      border-radius: 50px
      height: 20px
      padding-left: 10px
      padding-right: 10px
      display: inline-block
      text-align: center
      font-size: 10px
      &:last-child
        color: white
    .divider img
      margin: 0 7px 3px
  .single-post-content
    a
      color: $orange
    ul
      margin-top: 20px
      list-style-type: circle
      padding-left: 20px

  .single-post-sidebar
    padding-top: 0
    padding-bottom: 0
    margin-bottom: .5rem
    p.author-name
      margin-bottom: 0
    .author-img
      margin-bottom: .5rem
      width: 60px
    .post-date
      color: $blue-light
      margin-bottom: .5rem
    .social-icons
      line-height: 1
      display: flex
      flex-direction: row
      justify-content: space-around
      width: 150px
      margin-bottom: 1.5rem
  .share-icons
    display: flex
    flex-direction: row
    align-items: center
    justify-content: flex-start
    img
      margin-left: 10px
  .tag-button
    margin-left: 10px
    border-radius: 30px
    padding: 0.5rem 1rem
  .post-tags
    display: flex
    flex-direction: row
    align-items: center
    justify-content: flex-end

  section.similar-post-section
    padding-top: .5rem
    padding-bottom: 1.5rem
    margin-bottom: 1.5rem
    background: $blue-lightest
    h2
      text-align: center
      margin-bottom: 2rem
    .container .columns .column
      display: flex
    .similar-post-card
      display: flex
      flex-direction: row
      margin-bottom: 1rem
    .similar-post-card-content
      padding-left: 0.75rem
      line-height: 1
      a
        color: $font-color
        @include font-size(14px)
        line-height: 1
      h3
        color: $font-color
        @include font-size(22px)

    .similar-post-card-image
      border-radius: 6px
      min-width: 120px
.next-post-section
  text-align: center
  padding-top: 90px
  padding-bottom: 90px
  p
    margin: 1rem 0
  .next-post-img
    border-radius: 6px
  h3
    margin-bottom: 40px
  h4
    margin-bottom: 40px
  .next-post-img
    width: 164px
    height: 164px
    object-fit: cover
    object-position: 50% 50%
