/* autoprefixer grid: on */
.posts-list-container
  flex-wrap: wrap
  padding-top: 3rem 
  +widescreen 
    padding-top: 0

.home-page-intro
  .home-page-intro-heading
    display: flex
    flex-direction: column 
    justify-content: center
    margin-bottom: 1rem
    p 
      text-align: left
      margin-bottom: 1rem
    h2 
      text-align: left  
      margin-bottom: 1rem        
    img 
      align-self: center

  .category-cards
    margin-bottom: 0
    .columns
      align-items: stretch
      +tablet 
        margin-bottom: 2rem

  .category-card
    height: 100%
    padding: 10px
    text-align: center
    border: 1px solid $gray-light
    border-bottom: none
    display: flex
    flex-direction: row
    justify-content: space-between

    // display: -ms-grid
    // display: grid
    // -ms-grid-rows: 1fr
    // grid-template-rows: 1fr
    // -ms-grid-columns: 130px 1fr
    // grid-template-columns: 130px 1fr
    +tablet 
      display: flex
      flex-direction: column
      justify-content: center
      border-radius: 6px
    +desktop
      padding-top: 2rem
      padding-bottom: 2rem
    &:hover
      background: #fff
      cursor: pointer
      box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.1)
      border-color: transparent
      transition: all .350s ease
    .image-wrapper
      display: flex
      align-items: center
      justify-content: center
      min-width: 30%
      // -ms-grid-row:  1
      // grid-row-start:  1
      // -ms-grid-row-span: 1
      // grid-row-end: 2
      // -ms-grid-column: 1
      // grid-column-start: 1
      // -ms-grid-column-span: 1
      // grid-column-end: 2
      img
        max-height: 80px
        max-width: 80px
      +tablet 
        min-width: 100% 
        margin-bottom: 1rem
    p
      font-size: 14px
    a 
      color: $font-color
    .copy-wrapper
      // -ms-grid-row:  1
      // grid-row-start:  1
      // -ms-grid-row-span: 1
      // grid-row-end: 2
      // -ms-grid-column: 2
      // grid-column-start: 2
      // -ms-grid-column-span: 1
      // grid-column-end: 3
      min-width: 70%
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center
      +tablet 
        min-width: 100%
      p 
        padding: 0 6px
        min-height: 70px
        width: 100%
      h3    
        @include font-size(18px)
        +desktop
          @include font-size(26px)
    hr.divider
      text-align: center
      background: $orange
      width: 15px
      margin: .7rem 0
    .read-more-btn
      @extend h6
      display: none
      max-width: 250px
      width: 100%
      line-height: 2
      margin-top: 20px
      color: $orange
      border: 2px solid $orange      
      height: 34px
      border-radius: 17px
      +tablet
        display: block    
      
      img 
        margin-right: 10px

  .category-card:last-child
    border-bottom: 1px solid $gray-light

.latest-stories-section
  background: $blue-lightest
  h2
    text-align: center
    @include font-size(58px)
  .featured-categories
    margin-top: 60px 
    .is-ancestor
      +touch 
        display: block
    .tile.is-5.is-vertical.is-parent 
      +touch 
        width: 100%
  h3
    @include font-size(40px)
    border-bottom: 2px solid #8F8F8F      
    margin-bottom: 2rem
    padding-bottom: 6px
    &:after
      content: ''
      display: block
      border-bottom: 2px solid $orange
      margin-top: 8px
      margin-bottom: -8px
      max-width: 200px   
  .category-links-wrapper
    display: flex
    flex-direction: column

    +desktop 
      justify-content: space-between
      flex-direction: row
    .category-link-btn
      line-height: 1 !important
      height: auto !important
      margin: 0 !important
      margin-bottom: 5px !important
      +tablet 
        line-height: 30px !important
        height: 30px !important
      &.video-link 
        color: #C04343
        line-height: 1rem
        margin: 0
        +desktop 
          background: #C04343
          color: #ffffff 
      &:last-of-type 
        margin-bottom: 10px !important
  .category-link-btn
    display: inline-block
    border-radius: 15px
    font-family: $family-secondary
    font-weight: $family-secondary-weight
    font-size: 0.875rem
    color: #fff
    line-height: 30px
    height: 30px
    padding-left: 14px
    padding-right: 14px
  .main-box
    position: relative
    img 
      border-radius: 6px
    .main-img 
      height: 100%
      width: 100%
    .main-box-mobile-img
      display: block
      .hide-desktop
        position: absolute
        top: 1rem
        z-index: 9999
        left: 2rem
        @media (max-width: 340px)
          top: 0.5rem
          left: 1rem
        +tablet 
          display: none
      +tablet 
        display: none
    .main-box-desktop-img 
      display: none 
      +tablet 
        display: block
    .category-link-btn
      display: inline
      top: 0
      position: absolute
      left: 2rem
      top: -15px
      box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2)
      &.hide-mobile
        display: none
        +tablet 
          display: block
      &.blue-dark, &.mauve, &.magenta, &.green, &.gold, &.red, &.purple-light, &.purple, &.orange, &.blue
        color: #fff !important
      &.orange
        background: $orange 
      &.blue
        background: $blue 
      &.purple
        background: $purple 
      &.purple-light
        background: $purple-light 
      &.red
        background: $red 
      &.gold
        background: $gold 
      &.green
        background: $green 
      &.magenta
        background: $magenta 
      &.mauve
        background: $mauve
      &.blue-dark
        background: $blue-dark 
    .main-content
      color: #fff
      border-bottom-left-radius: 6px
      border-bottom-right-radius: 6px
      position: absolute
      padding: 1.5rem 2rem 1rem 2rem
      display: flex
      justify-content: center
      flex-direction: column
      width: 100%
      bottom: 0
      @media (max-width: 340px)
        padding: 1rem 
      p.date
        @extends small
        color: $white
        text-shadow: $text-shadow-small
      h4
        @include font-size(32px)
        color: #ffffff    
        padding-bottom: 10px
        text-shadow: $text-shadow
        text-overflow: ellipsis
        @media (max-width: 340px)
          @include font-size(26px)
        a 
          @extend .h3
          color: $white
          +tablet
            @include font-size(36px)
  
  .thumbnail-box
    display: flex
    flex-direction: row
    .category-btn
      display: inline-block    
      padding: 0 15px
      border-radius: 12px
      height: 24px
      color: #fff
      background: red
    .thumbnail-img
      border-radius: 6px
      min-width: 120px
      height: 120px
      +tablet 
        min-width: 146px
        height: 146px 
      +widescreen 
        min-width: 200px
        height: 200px 
    .sub-content
      width: 100%
      padding-left: 1.5rem
      // height: 100%
      // display: flex
      // flex-direction: column
      // justify-content: center
      .category-link-btn
        margin-top: 5px
        margin-bottom: 10px
        padding-left: 0
        padding-right: 0
        line-height: 1.2rem
        +tablet 
          line-height: 30px
        +desktop
          padding-left: 14px
          padding-right: 14px
        // &.blue-dark, &.mauve, &.magenta, &.green, &.gold, &.red, &.purple-light, &.purple, &.orange, &.blue 
        &.orange
          border: none
          color: $orange 
          +desktop
            color: #fff
            background: $orange 
        &.blue
          border: none
          color: $blue
          // background: $blue 
          +desktop 
            color: #fff
            background: $blue 
        &.purple
          border: none
          color: $purple
          +desktop 
            color: #fff
            background: $purple 
        &.purple-light
          border: none
          color: $purple-light
          +desktop
            color: #fff
            background: $purple-light 
        &.red
          border: none
          color: $red
          +desktop
            color: #fff
            background: $red 
        &.gold
          border: none
          color: $gold
          +desktop
            color: #fff
            background: $gold 
        &.green
          border: none
          color: $green
          +desktop
            color: #fff
            background: $green 
        &.magenta
          border: none
          color: $magenta 
          +desktop
            color: #fff
            background: $magenta 
        &.mauve
          border: none
          color: $mauve
          +desktop
            color: #fff
            background: $mauve
        &.blue-dark
          border: none
          color: $blue-dark 
          +desktop
            color: #fff
            background: $blue-dark 
      p.date
        @extend small
      h4
        @extend .h6
        margin-bottom: .5rem
        @media screen and (min-width: 461px)
          @include font-size(22px)
          line-height: 1.1


.pet-happiness 
  padding: 3rem 1.5rem
  background: #fff
  .intro
    p 
      max-width: 470px
      margin-bottom: 20px
    h2, .highlight       
      max-width: 420px
      margin-bottom: 20px    
  h4 
    @extend .h5
    color: $orange    
    padding-bottom: 10px
    position: relative
    margin-bottom: 10px
    &:after
      position: absolute
      content: ""
      width: 15px
      height: 1px
      background: #46896B
      bottom: 0
      left: calc(50% - 10px)
  p 
    max-width: 270px
  .gatsby-image-wrapper
    margin-bottom: .5rem
  
  .happiness-list
    .columns
      margin-bottom: 35px
    .column
      display: flex
      flex-direction: column
      align-items: center
      margin-bottom: 2rem

// .grid-container
//   display: grid
//   grid-template-rows: 1fr
//   grid-template-columns: 1fr
//   .form-container
//     z-index: 1
//   .desktop-img, .mobile-img, .tablet-img
//     grid-column-start: 1
//     grid-column-end: 2
//     grid-row-start: 1
//     grid-row-end: 2
.play-btn 
  position: absolute
  right: 20px
  top: -25px
  z-index: 99
  cursor: pointer

.search-section
  text-align: center
  padding-top: 0
  padding-bottom: 2.5rem

  h2
    // padding-bottom: 30px

    +widescreen
      // font-size: 2.875rem
      font-size: 2.5rem

    span
      color: $orange

  p 
    max-width: 726px
    margin: 15px auto 0
    padding-bottom: 20px

  .el 
    height: 36px
    padding: 0 60px
    position: relative
    max-width: 840px
    margin: 0 auto
    margin-top: -35px

  .el::before,
  .el::after 
    content: " "
    position: absolute
    width: 60px
    height: 36px
    background-image: url("../images/wave-el.svg")
    top: 0
    z-index: 10
  
  .el::before 
    left: 0  

  .el::after 
    background-position: right
    right: 0  

  .inner-el 
    background: white
    height: 100%

  button 
    @extend .h5
    width: 100%
    outline: none
    border-radius: 50px
    height: 40px
    background: $orange
    color: #ffffff
    text-transform: uppercase
    border: 1px solid rgba(255, 255, 255, 0.78)

    @media screen and (min-width: 461px) 
      position: absolute
      top: 4px
      right: 4px
      // height: 55px
      height: 42px
      width: 250px
      margin-left: -254px
  
  .search-box-wrapper 
    position: relative
    max-width: 600px
    margin: 0 auto
  
  input.search-input 
    @include font-size(18px)
    outline: none
    background: rgba(255, 255, 255, 0.78)
    border-radius: 70px
    margin-bottom: 1rem
    width: 100%
    border: 1px solid rgba(255, 255, 255, 0.78)
    display: inline-block
    height: 44px
    padding-left: 30px
    padding-right: 10px
    box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.1)

    @media screen and (min-width: 461px) 
      // height: 63px
      height: 50px
      max-width: 700px
      padding-left: 30px
      padding-right: 260px
    
  
    
  
  