footer
  background: $blue-lightest
  .footer-nav
    padding: 3rem 1.5rem
    p.tagline 
      margin-bottom: 1rem
    .icons-wrapper
      margin-top: 80px
      display: flex
      flex-direction: row
      justify-content: space-between 
      width: 175px
    .column
      margin-bottom: 1rem
    .footer-menu-wrapper
      display: flex
      flex-direction: column
      a 
        @include font-size(14px)
        color: $font-color
        line-height: 2
    h6
      
      margin-bottom: .5rem
      color: $blue-dark

  .footer-container.section
    padding: 2rem 1rem
    clear: both
    background: $purple-dark
    display: flex
    flex-direction: column
    justify-content: center
    +tablet
      flex-direction: row-reverse
    ul
      display: flex
      flex-direction: row 
      justify-content: space-around
      flex-wrap: wrap 
      +tablet 
        justify-content: space-between
      li
        margin-left: 5px
        margin-right: 5px
        margin-top: 5px
        list-style: none
      li a
        color: $white
        @include font-size(13px)
    p
      text-align: center
      color: $white
      @include font-size(13px)
      +tablet 
        text-align: right
    .copyright
      display: flex
      justify-content: flex-end
      align-items: center

