footer
  background: $blue-lightest
  p.tagline 
    margin-bottom: 1rem
  .icons-wrapper
    display: flex
    flex-direction: row
    justify-content: space-between 
    width: 175px
  .column
    margin-bottom: 1rem
  .footer-menu-wrapper
    display: flex
    flex-direction: column
    a 
      color: $font-color
  h6
    @include font-size(18px)
    margin-bottom: .5rem
    color: $blue-dark
