.contact-us-form 
  background: $purple-dark
  text-align: center
  color: #ffffff
  input[type="text"]
    background: $form-bg
    color: #ffffff
    font-size: 1.125rem
    line-height: 32px
    padding: 12px 30px
    border-radius: 50px
    border: 1px solid $form-bg
    width: 330px
    margin: 15px 10px
  button
    background: $orange
    color: #ffffff
    font-size: 1.25rem
    font-weight: 600
    line-height: 32px
    padding: 12px 30px
    border-radius: 50px
    border: 1px solid $orange
    width: 600
    margin: 15px 10px
    &:hover
      background: #EA7856
      cursor: pointer
  .disclaimer
    color: #ffffff
    font-size: 0.875rem
  input[type="checkbox"]
    margin-right: 10px
  label 
    margin-right: 30px
  h3
    font-size: 2.875rem
    font-weight: 900
    margin-bottom: 2rem