.highlight
  color: $orange
  font-weight: 600

.flex-end
  align-items: flex-end
  
.flex-star
  align-items: flex-start

.align-slef-start
  align-self: flex-start

.orange
  background: $orange !important
.blue 
  background: $blue !important
.purple
  background: $purple !important
.purple-light
    background: $purple-light !important
.red
  background: $red  !important
.gold 
  background: $gold !important
.green
  background: $green !important
.magenta
  background: $magenta !important
.mauve
  background: $mauve !important 
.blue-dark
  background: $blue-dark !important

.orange-transparent
  @include background-opacity($orange, 0.6)
.blue-transparent
  @include background-opacity($blue, 0.6)

.blue-dark-transparent
  @include background-opacity($blue-dark, 0.6)
  
.purple-transparent
  @include background-opacity($purple, 0.6)

.purple-light-transparent
  @include background-opacity($purple-light, 0.6)

.red-transparent
  @include background-opacity($red, 0.6)
  
.gold-transparent 
  @include background-opacity($gold, 0.6)
  
.green-transparent
  @include background-opacity($green, 0.6)
  
.magenta-transparent
  @include background-opacity($magenta, 0.6)
  
.mauve-transparent
  @include background-opacity($mauve, 0.6)
  
.mobile-img
  @media only screen and (max-width : 460px)
    display: block
  @media only screen and (min-width : 461px)
    display: none
    
.tablet-img
  display: none
  @media only screen and (min-width : 461px)
    display: block
  +widescreen 
    display: none

.desktop-img
  display: none
  +widescreen
    display: block
.is-hidden-until-widescreen 
  display: none 
  +widescreen
    display: block