.highlight
  color: $orange
  font-weight: 600

.flex-end
  align-items: flex-end
  
.flex-star
  align-items: flex-start

.align-slef-start
  align-self: flex-start

.orange
  background: $orange !important
.blue 
  background: $blue !important
.purple
  background: $purple !important
.red
  background: $red  !important
.gold 
  background: $gold !important
.emerald
  background: $emerald !important
.magenta
  background: $magenta !important 
.lime
  background: $lime !important

.orange-transparent
  @include background-opacity($orange, 0.6)
.blue-transparent
  @include background-opacity($blue, 0.6)
  
.purple-transparent
  @include background-opacity($purple, 0.6)

.red-transparent
  @include background-opacity($red, 0.6)
  
.gold-transparent 
  @include background-opacity($gold, 0.6)
  
.emerald-transparent
  @include background-opacity($emerald, 0.6)
  
.magenta-transparent
  @include background-opacity($magenta, 0.6)
  
.lime-transparent
  @include background-opacity($lime, 0.6)
  