header
  padding: .5rem 0
  .navbar-item img
    max-height: 100%
    width: 100%
    min-width: 150px
    max-width: 200px

.MuiDrawer-paper.MuiPaper-root 
  width: 100%
  padding: 0
  background-color: #3B092C
  color: #ffffff

.MuiDrawer-paper.MuiPaper-root a 
  color: #ffffff
  text-decoration: none

@media only screen and (min-width: 480px) 
  .MuiDrawer-paper.MuiPaper-root 
    width: 300px
  
ul.MuiList-root 
  padding: 0

ul.MuiList-root div:hover, ul.MuiList-root div:active, ul.MuiList-root div:visited, 
li.MuiListItem-root:hover, li.MuiListItem-root:active, li.MuiListItem-root:visited,
button.menu-close:hover, button.menu-close:active, button.menu-close:visited 
  background: transparent

li.MuiListItem-divider 
  border: none

.MuiListItemText-inset 
  padding-left: 0

.MuiListItem-button.MuiListItem-root  
  display: flex
  flex-direction: row
  text-align: left
  justify-content: space-between

button.menu-close 
    display: block
    text-align: right
    z-index: 100000
    color: #ffffff    
    padding: 0 1rem 0 0

header .menu-open:hover, header .menu-open:active, header .menu-open:visited 
  background: transparent

.navbar-end
  display: none
  @media only screen and (min-width: 1024px)
    display: flex